<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>road-x</key>
		<integer>-10000</integer>
		<key>road-y</key>
		<integer>-10000</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>15</integer>
		<key>blue-y</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>15</integer>
		<key>blue-y</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>15</integer>
		<key>blue-y</key>
		<integer>69</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>15</integer>
		<key>blue-y</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>15</integer>
		<key>blue-y</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>15</integer>
		<key>blue-y</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>15</integer>
		<key>blue-y</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>15</integer>
		<key>blue-y</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>15</integer>
		<key>blue-y</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>20</integer>
		<key>blue-y</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>20</integer>
		<key>blue-y</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>20</integer>
		<key>blue-y</key>
		<integer>69</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>20</integer>
		<key>blue-y</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>20</integer>
		<key>blue-y</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>20</integer>
		<key>blue-y</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>20</integer>
		<key>blue-y</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>20</integer>
		<key>blue-y</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>20</integer>
		<key>blue-y</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>25</integer>
		<key>blue-y</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>25</integer>
		<key>blue-y</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>25</integer>
		<key>blue-y</key>
		<integer>69</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>25</integer>
		<key>blue-y</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>25</integer>
		<key>blue-y</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>25</integer>
		<key>blue-y</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>25</integer>
		<key>blue-y</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>25</integer>
		<key>blue-y</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>25</integer>
		<key>blue-y</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>30</integer>
		<key>blue-y</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>30</integer>
		<key>blue-y</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>30</integer>
		<key>blue-y</key>
		<integer>69</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>30</integer>
		<key>blue-y</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>30</integer>
		<key>blue-y</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>30</integer>
		<key>blue-y</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>30</integer>
		<key>blue-y</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>30</integer>
		<key>blue-y</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>30</integer>
		<key>blue-y</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>35</integer>
		<key>blue-y</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>35</integer>
		<key>blue-y</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>35</integer>
		<key>blue-y</key>
		<integer>69</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>35</integer>
		<key>blue-y</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>35</integer>
		<key>blue-y</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>35</integer>
		<key>blue-y</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>35</integer>
		<key>blue-y</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>35</integer>
		<key>blue-y</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>35</integer>
		<key>blue-y</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>40</integer>
		<key>blue-y</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>40</integer>
		<key>blue-y</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>40</integer>
		<key>blue-y</key>
		<integer>69</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>40</integer>
		<key>blue-y</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>40</integer>
		<key>blue-y</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>40</integer>
		<key>blue-y</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>40</integer>
		<key>blue-y</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>40</integer>
		<key>blue-y</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>40</integer>
		<key>blue-y</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>45</integer>
		<key>blue-y</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>45</integer>
		<key>blue-y</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>45</integer>
		<key>blue-y</key>
		<integer>69</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>45</integer>
		<key>blue-y</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>45</integer>
		<key>blue-y</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>45</integer>
		<key>blue-y</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>45</integer>
		<key>blue-y</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>45</integer>
		<key>blue-y</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>45</integer>
		<key>blue-y</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>50</integer>
		<key>blue-y</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>50</integer>
		<key>blue-y</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>50</integer>
		<key>blue-y</key>
		<integer>69</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>50</integer>
		<key>blue-y</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>50</integer>
		<key>blue-y</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>50</integer>
		<key>blue-y</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>50</integer>
		<key>blue-y</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>50</integer>
		<key>blue-y</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>50</integer>
		<key>blue-y</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>55</integer>
		<key>blue-y</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>55</integer>
		<key>blue-y</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>55</integer>
		<key>blue-y</key>
		<integer>69</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>55</integer>
		<key>blue-y</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>55</integer>
		<key>blue-y</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>55</integer>
		<key>blue-y</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>55</integer>
		<key>blue-y</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>55</integer>
		<key>blue-y</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>blue-x</key>
		<integer>55</integer>
		<key>blue-y</key>
		<integer>39</integer>
	</dict>
</array>
</plist>
